{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": [

      ]
    }
  },
  "plugins": ["@babel/plugin-syntax-dynamic-import"]
}
